#imaginary_container{
    margin-top:20px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.productslist {
  margin-top: 40px;
}

.thumbnail {
  word-wrap: break-word;
  height: 300px;
  padding : 60px;
  margin-left: 60px;
  
}

.productname {
  position: left;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 30px;
}